.wrap {
    background-image: url(./img/background.png);
    height: 450px;
    font-family: 'High Tower Text';
    font-size: 10pt;
}

.header {
    background-color: rgba(255, 255,255, 0.7);
    padding: 0px 120px;
}

.menu {
    display: inline-block;
    position: absolute;
    text-align: right;
}

.logo {
    display: inline-block;
    background: url(./img/logo.png) no-repeat;
    background-position: 1px;
    height: 80px;
    width: 500px;
}

.login {
    margin: 20px 0;
}

.navigation li {
    display: inline-block;
    margin: 0 10px;
}